body{
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
}
.title-underline{
    width: 140px;
    height: 5px;
    margin: 0 auto;
}
.height{
    min-height: 100vh;
}
#banner{
    background-color: white;
}
#editor{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(238, 39, 39, 0.5)), url(../img/item7.jpeg)center/cover no-repeat;
}
#ordered-list{
   list-style: none;
   text-transform: capitalize;
}
#horizontal-line{
    background: url(../img/banner/line.jpg) center/cover no-repeat;;
    height: 2px;
    border-radius: 3px;
    padding: 1px 0;
    margin: 2px;
}
.border{
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border-radius: 5px;
}
.style{
    border-right: 3px solid gray;
    border-left: 3px solid gray;
}
#description, #article{
    background-color: whitesmoke;
}
#filler{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(12, 2, 2, 0.5)), url(../img/half-moon.jpeg)center/cover no-repeat fixed;
}
.nav-link{
    text-transform: uppercase;
    font-weight: bold;
}
.nav-link:hover{
    color: white;
    border-bottom: 2px solid gray;
}
.navbar-brand{
    font-size: 20px;
    margin-right: 80px;
}
.carousel-item p{
    font-weight: bold;
}
#welcome{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(12, 2, 2, 0.5)),url(../img/item1.jpeg)center/cover no-repeat fixed;
}